<div class="container px-5 px-sm-0">
  <div class="row">
    <aside class="col-md-3">
      <%= render "shared/sidebar" %>
    </aside>
    <main class="col-md-8 offset-md-1">
      <h2>Books</h2>
    </main>
  </div>
</div>
