

<main>

  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6" >
        <h1 class="mt-3 mb-2">Welcome to <i class="fa-solid fa-book"></i><strong>Bookers </strong>!!</h1>

        <p class="mb-3"> In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>
        <p class="mb-3">you can share and exchange your opinions,inpressions,and emotions</p>
        <p class="mb-3">about various books!</p>
    
        <div class="width-80%">
          <%= link_to "Log in", new_user_session_path, class:"btn btn-info btn-sm btn-block mb-3" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
        </div>

      </div>
    </div>
  </div>

</main>




